@tailwind preflight;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/** Page **/
..page-wrapper {
    @apply min-h-screen;
}
.page-content {
    @apply flex flex-col w-full fixed pin-l pin-y;
    @apply font-sans font-hairline text-grey-dark
}

/** Header **/
.header {
    @apply flex items-center justify-between flex-wrap bg-teal-darkest p-6 pl-10;
}
.header-title {
    @apply text-white text-3xl;
}
.header-li {
    @apply mr-6;
}


/** Content section **/
.landingpage-wrapper {
    @apply px-6 pt-0 flex-1 overflow-y-scroll;
}
.landingpage-header {
    @apply flex mb-10 border-b border-grey-light;
}
.content-wrapper {
    @apply px-6 pt-4 flex-1 overflow-y-scroll;
}
.content-header {
    @apply flex mb-10 pb-2 border-b border-grey-light;
}
.content-h1 {
    @apply text-3xl font-semibold text-grey-darkest pb-3;
}
.content-h2 {
    @apply text-5xl font-semibold text-teal-darkest pb-5 pt-2;
}
.content-h3 {
    @apply text-xl font-normal text-grey-dark;
}
.content-text {
    @apply text-grey-dark;
}
.image-header-wrapper {
    @apply w-1/6 p-2 ml-3 bg-grey-lightest border border-grey-light;
}
.header-wrapper {
    @apply w-5/6 ml-2 p-6 pt-0 border-l border-grey-light;
}




/** Links **/
.main-link {
    @apply text-white no-underline;
}
.main-link:hover {
    @apply text-grey no-underline;
}
.nav-link {
    @apply text-white no-underline;
}
.nav-link:hover {
    @apply text-grey no-underline;
}
.ul-link {
    @apply list-reset flex;
}


/** Cards **/
.card-wrapper {
    @apply p-2 m-3 flex-1 overflow-y-scroll bg-grey-lightest border border-grey-light;
}
.card-button {
    @apply bg-teal-darker text-white text-xs py-1 px-2 rounded-full;
}
.card-button:hover {
    @apply bg-teal-darkest;
}
.project-card-headline {
    @apply font-bold text-xl mb-2 text-grey-darkest;
}

.skill-card-headline {
    @apply font-bold text-lg mb-2 text-grey-darkest;
}
.card-text {
    @apply text-xs;
}


/** Contact section **/

.email-input {
    @apply self-center appearance-none block w-full h-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight
}
.email-input:focus {
    @apply outline-none bg-white border-grey;
}
.message-input {
    @apply h-24 text-xs appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-2 px-4 leading-tight 
}
.message-input:focus {
    @apply outline-none bg-white border-grey;
}
.email-button {
    @apply bg-teal-darker text-white text-base py-1 px-2 rounded-full;
}
.email-button:hover {
    @apply bg-teal-darkest;
}




/** Footer **/
.footer-wrapper {
    @apply flex flex-wrap justify-between border-t px-8 py-4 bg-grey-lighter;
}
.footer-content {
    @apply flex justify-center text-grey-dark;
}
.scroll-button {
    @apply p-2 rounded-full bg-grey-lightest border border-grey-light flex justify-center text-grey-dark font-hairline text-xs;
}