@tailwind preflight;
@tailwind components;
@tailwind utilities;
@tailwind screens;

..page-wrapper {
    @apply min-h-screen;
}
.page-content {
    @apply flex flex-col w-full fixed pin-l pin-y;
}



.header {
    @apply flex items-center justify-between flex-wrap bg-blue-darkest p-6;
}
.header-title {
    @apply text-white text-3xl;
}
.header-li {
    @apply mr-6;
}


.footer-wrapper {
    @apply border-t px-8 py-4;
}
.footer-content {
    @apply flex justify-center text-grey;
}



.content-wrapper {
    @apply px-4 pt-4 flex-1 overflow-y-scroll;
}
.content-h1 {
    @apply text-2xl font-semibold text-grey-dark;
}
.content-h3 {
    @apply text-xl font-normal text-grey-dark;
}
.content-text {
    @apply text-grey-dark;
}


.main-link {
    @apply text-white no-underline;
}
.main-link:hover {
    @apply text-grey no-underline;
}
.nav-link {
    @apply text-white no-underline;
}
.nav-link:hover {
    @apply text-grey no-underline;
}
.ul-link {
    @apply list-reset flex;
}

